Repository pypa/packaging.python.org, pull requests merged in 2023-11, with the labels that each got.

#791 💄 Change Sphinx theme to furo
  requirements.txt
  source/assets/py.png
  source/conf.py
Labels: type: enhancement, state: needs clarification

#1274 A better description for "Requires-Python" metadata field
  source/specifications/core-metadata.rst
Labels: component: specifications

#1331 Add discussion "Is setup.py deprecated?"
  source/discussions/index.rst
  source/discussions/setup-py-deprecated.rst
Labels: type: enhancement, component: discussions

#1319 Temporarily ignore www.breezy-vcs.org @ linkcheck
  source/conf.py
Labels: type: task
